<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <form th:action="@{/chat}" th:object="${chatForm}" action="#" method="POST">
<!--        <label for="username">Username:</label>-->
<!--        <input th:field="*{username}" id="username" type="text">-->
        <label for="messageText">Message Text:</label>
        <input th:field="*{messageText}" id="messageText" type="text">
        <label for="messageType">Message Type: </label>
        <select th:field="*{messageType}" id="messageType">
            <option
                th:each="type : ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}"
            > Say
            </option>
        </select>
        <input type="submit" id="submitButton">
    </form>

    <div class="displayMessages" th:each="chatMessage : ${chatMessages}">
        <span th:text="${chatMessage.username}">Username</span> :
        <span th:text="${chatMessage.messageText}">Message</span>
    </div>
<!--    <h1 th:each="msg : ${messages}" th:text="${msg}">Messages!</h1>-->
</body>
</html>