<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <form th:action="@{/chat}" th:object="${chatForm}" action="#" method="POST">
        <label for="username">Username:</label>
        <input th:field="*{username}" id="username" type="text">
        <label for="messageText">Message Text:</label>
        <input th:field="*{messageText}" id="messageText" type="text">
        <label for="messageType">Message Type: </label>
        <select th:field="*{messageType}" id="messageType">
            <option selected th:value="Say" th:text="Say">Say</option>
            <option th:value="Shout" th:text="Shout">Shout</option>
            <option th:value="Whisper" th:text="Whisper">Whisper</option>
        </select>
        <input type="submit">
    </form>

    <h1 th:each="msg : ${messages}" th:text="${msg}">Messages!</h1>
</body>
</html>